[submodule "poky"]
	path = poky
	url = https://github.com/logicon-consulting/poky.git
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/logicon-consulting/meta-raspberrypi
